body{
    background: rgb(207,207,209);
    background: -moz-linear-gradient(180deg, rgba(207,207,209,1) 0%, rgba(55,55,55,1) 38%, rgba(25,28,47,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(207,207,209,1) 0%, rgba(55,55,55,1) 38%, rgba(25,28,47,1) 100%);
    background: linear-gradient(180deg, rgba(207,207,209,1) 0%, rgba(55,55,55,1) 38%, rgba(25,28,47,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cfcfd1",endColorstr="#191c2f",GradientType=1);
}

.myTable{
    width:100%;
    background-color: #00076d7e;
    color: #a9aaba;
}

.myTable th{
    background-color: #000546;
}

.myTable td, .myTable th {
    text-align: left;
    border: 1px solid #a9aaba;
    min-width: 25px;
}

.myButton {
	background-color:#00076d7e;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #a9aaba;
	display:inline-block;
	cursor:pointer;
	color:#a9aaba;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#0411c47e;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myInput {
	background-color:#00076d7e;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #a9aaba;
	display:inline-block;
	cursor:pointer;
	color:#a9aaba;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}
.myInput:hover {
	background-color:#0411c47e;
	color:#2b2b31
}
.myInput:active {
	position:relative;
	top:1px;
}