{% macro teamField(number) %}
  <label for="team_{{ number }}">Team</label>
  <select class="myInput" name="team_{{ number }}">
      <option value="-1"></option>
    {% for team in teams %}
      <option value="{{ team.id }}">{{ team.team_name }}</option>
    {% else %}
      <li>This would display if the 'item' collection were empty</li>
    {% endfor %}
  </select>
  <label for="level_{{ number }}">Level</label>
  <input class="myInput" style="width:75px" maxlength="3" type="text" name="level_{{ number }}">
  <label for="odds_{{ number }}">Odds</label>
  <input class="myInput" style="width:75px" maxlength="3" type="text" name="odds_{{ number }}">
  <label for="condition_{{ number }}">Condition</label>
  <select class="myInput" name="condition_{{ number }}">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  
  <br/>
{% endmacro %}

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/default.css">
  </head>
  <body>
    <h1>FFXV Colosseum Battle Planner</h1>
    <div>Based on the guide by Xumbik at https://www.reddit.com/r/FFXV/comments/5gtbib/a_quick_guide_for_the_altissia_monster/</div>
    <br>
    <form action="/start" method="post">
      {{ teamField(1) }}
      {{ teamField(2) }}
      {{ teamField(3) }}
      {{ teamField(4) }}
      <br/>
      <input class="myButton" type="submit" value="Submit">
    </form>
    
    <table class="myTable">
      <tr>
          <th style="width:175px;">Team name</th>
          <th>Tier</th>
          <th>Species</th>
          <th>#</th>
          <th>Keywords</th>
          <th>Description</th>
      </tr>
    {% for team in teams %}
      <tr>
          <td>{{ team.team_name }}</td>
          <td>{{ team.tier }}</td>
          <td>{{ team.species }}</td>
          <td>{{ team.quantity }}</td>
          <td>{{ team.keywords }}</td>
          <td>{{ team.description }}</td>
      </tr>
    {% endfor %}
    </table>
  </body>
</html>