<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/default.css">
    </head>
    <body>
        <div>This shows each team and their scores. Sum contains the summary of all the scores except Keyword. The table is listed first on Sum and then secondly on Keywords. You should bet on the team that is listed at the top.</div><br>
        <table class="myTable">
            <tr>
                <th>Team name</th>
                <th>Sum</th>
                <th>Tier</th> 
                <th>Quantity</th>
                <th>Level</th>
                <th>Condition</th>
                <th>Keyword</th>
            </tr>
        {% for team in teams %}
            <tr>
                <td>{{ team.team_name }}</td>
                <td>{{ team.sum_odds }}</td>
                <td>{{ team.tier_odds }}</td>
                <td>{{ team.quantity_odds }}</td>
                <td>{{ team.level_odds }}</td>
                <td>{{ team.condition_odds }}</td>
                <td>{{ team.keyword_values }}</td>
            </tr>
        {% endfor %}
        </table>
        <br>
        <form action="/end" method="post">
            <label for="winner_id">Winning team:</label>
            <select class="myInput" name="winner_id">
                <option value="null">Can't determine the winner</option>
                {% for team in teams %}
                <option value="{{ team.id }}">{{ team.team_name }}</option>
                {% endfor %}
            </select>
            <input type="hidden" name="json_teams" value="{{ json_teams }}">
            <input class="myButton" type="submit" value="Submit">
        </form>
    </body>
</html>